parameters:
- name: imageTag
  type: string
  default: 'main-latest'
- name: azureSubscription
  type: string
- name: acrName
  type: string
- name: registryName
  type: string
- name: serviceName
  type: string
- name: targetEnvironment
  type: string
- name: runAutomationTests #will let us toggle automation tests on or off
  type: boolean
  default: true


jobs:
- job: ShowDeprecationWarning
  displayName: DEPRECATED - Repository Has Moved
  steps:
    - bash: |
        echo "##vso[task.logissue type=warning]DEPRECATED: This Azure DevOps template repository has moved to GitHub."
        echo "##vso[task.logissue type=warning]New location: https://github.com/DEFRA/epr-webapps-code-deploy-templates"
        echo "##vso[task.logissue type=warning]Please update your pipeline references to use the new GitHub repository."
        echo ""
        echo "========================================"
        echo "  DEPRECATION NOTICE"
        echo "========================================"
        echo ""
        echo "  This template repository has moved to GitHub."
        echo ""
        echo "  New location:"
        echo "  https://github.com/DEFRA/epr-webapps-code-deploy-templates"
        echo ""
        echo "  Please update your pipeline to use the new repository."
        echo ""
        echo "========================================"
      displayName: Deprecation Warning

- deployment: 'DeployAppCode'
  dependsOn: ShowDeprecationWarning
  environment: ${{ parameters.targetEnvironment }}
  strategy:
    runOnce:
      deploy:
        steps:
          - template: templates/deployment.yaml
            parameters:
              imageTag: ${{ parameters.imageTag }}
              azureSubscription: ${{ parameters.azureSubscription }}
              acrName: ${{ parameters.acrName }}
              registryName: ${{ parameters.registryName }}
              serviceName: ${{ upper(parameters.serviceName) }}
              targetEnvironment: ${{ parameters.targetEnvironment }}



- ${{ if and(eq(parameters.runAutomationTests, true), eq(parameters.targetEnvironment, 'tst')) }}:
  - job: RunAutomationTest
    dependsOn: DeployAppCode
    displayName: 'Run TST Automation Testing'
    steps:
      - checkout: AutomationTesting
      - template: pipelines/automation-testing-template.yml@AutomationTesting
        parameters:
          env: 'tst'