parameters:
- name: imageTag
  type: string
  default: 'latest'
- name: azureSubscription
  type: string
- name: acrName
  type: string
- name: registryName
  type: string
- name: serviceName
  type: string
- name: targetEnvironment
  type: string

steps:
  - bash: |
      echo "Deploying dockerImage --> "${{ parameters.registryName }}:${{ parameters.imageTag }} "to env --> "${{ parameters.targetEnvironment }}
      echo "Deploying dockerImage to "${{ upper(parameters.serviceName) }}
    displayName: 'Show Environment Details'

  - bash: |
      echo "##vso[task.setvariable variable=subscription]${{ parameters.azureSubscription }}"
    displayName: 'Set Variable'
  
  - task: AzureKeyVault@2
    displayName: 'Obtain Docker Password'
    inputs:
      azureSubscription: 'AZD-RWD-DEV1'
      KeyVaultName: 'DEVRWDINFKV1401'
      SecretsFilter: 'DockerPassword'
      RunAsPreJob: true

  # - ${{ if ne(parameters.targetEnvironment, 'development') }}:
  #   - task: AzureCLI@2
  #     displayName: 'Copy Image to ${{ parameters.targetEnvironment }}'
  #     inputs:
  #       azureSubscription: ${{ parameters.azureSubscription }}
  #       scriptType: 'pscore'
  #       scriptLocation: 'inlineScript'
  #       inlineScript: |
  #         az acr login --name ${{ parameters.acrName }}
  #         az acr import --name ${{ parameters.acrName }} --source devrwdinfac1401.azurecr.io/${{ parameters.registryName}}:${{ parameters.imageTag }} --image ${{ parameters.registryName }}:${{ parameters.imageTag }} --username devrwdinfac1401 --password $(DockerPassword) --force

  - checkout: ReleaseTags

  - script: |
      echo "Current directory:"
      pwd
      echo "List all directories:"
      ls -la $(Build.SourcesDirectory)
      echo "Agent work folder:"
      ls -la $(Agent.WorkFolder)/1/s/dev
      cat ./dev/${{ upper(parameters.serviceName) }}.json
    displayName: 'Debug - Check directories'

  - ${{ if eq(parameters.targetEnvironment, 'development') }}:
    - task: qetza.replacetokens.replacetokens-task.replacetokens@6
      displayName: 'Replace tokens'
      inputs:
        tokenPattern: custom
        tokenPrefix: '#{{'
        tokenSuffix: '}}'
        missingVarLog: error
        useLegacyPattern: false
        enableTransforms: true
        useLegacyEmptyFeature: false
        sources: |
          dev/${{ upper(parameters.serviceName) }}.json => config/${{ upper(parameters.serviceName) }}.json

    - script: |
        echo "Current directory:"
        pwd
        echo "List all directories:"
        ls -la $(Build.SourcesDirectory)/dev
        cat $(Build.SourcesDirectory)/dev/${{ upper(parameters.serviceName) }}.json
        cat $(Build.SourcesDirectory)./dev/config/${{ upper(parameters.serviceName) }}.json
      displayName: 'Debug - Check variable substitutiodirectories'


  - task: AzureCLI@2
    displayName: 'add deployment slot - ${{ upper(parameters.serviceName) }}'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      scriptType: 'pscore'
      scriptLocation: 'inlineScript'
      inlineScript: |
        Set-StrictMode -Version 3.0
        $serviceName = "${{ parameters.serviceName }}".ToUpper()

          if ($serviceName -match "rwdwebwa") {
            Write-Host "Add staging slot to WA $serviceName"
            $rg = az webapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

            az webapp deployment slot create `
              --name "$serviceName" `
              --resource-group $rg `
              --slot 'staging' `
              --configuration-source "$serviceName" `
              --container-image-name "${{ parameters.registryName}}:${{ parameters.imageTag }}" `
              --container-registry-password $(DockerPassword) `
              --container-registry-url devrwdinfac1401.azurecr.io `
              --container-registry-user devrwdinfac1401


          } elseif ($serviceName -match "rwdwebfa") {
            Write-Host "Add staging slot to FA $serviceName"
            $rg = az functionapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

            az functionapp deployment slot create `
              --name "$serviceName" `
              --resource-group $rg `
              --slot 'staging' `
              --configuration-source "$serviceName" `
              --image "devrwdinfac1401.azurecr.io/${{ parameters.registryName}}:${{ parameters.imageTag }}" `
              --registry-password $(DockerPassword) `
              --registry-username devrwdinfac1401
              
          } else {
            Write-Error "Unknown Service Type"
            exit 1
          } 

  # - task: AzureRmWebAppDeployment@4
  #   displayName: 'Deploy code to --> ${{ upper(parameters.serviceName) }} staging slot'
  #   inputs:
  #     ConnectionType: 'AzureRM'
  #     azureSubscription: ${{ parameters.azureSubscription }}
  #     appType: 'webAppContainer'
  #     WebAppName: ${{ upper(parameters.serviceName) }}
  #     DockerNamespace: '${{ parameters.acrName }}.azurecr.io'
  #     DockerRepository: ${{ parameters.registryName }}
  #     DockerImageTag: ${{ parameters.imageTag }} 
  #     deployToSlotOrAS: true
  #     ResourceGroupName: ${{parameters.resourceGroupName}}
  #     SlotName: staging


  - task: AzureCLI@2
    displayName: 'swap deployment slots - ${{ upper(parameters.serviceName) }}'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      scriptType: 'pscore'
      scriptLocation: 'inlineScript'
      inlineScript: |
        Set-StrictMode -Version 3.0 
        $serviceName = "${{ parameters.serviceName }}".ToUpper()

        if ($serviceName -match "rwdwebwa") {
          Write-Host "Swapping slots on WA $serviceName"
          $rg = az webapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

          az webapp deployment slot swap `
            --name "$serviceName" `
            --resource-group $rg `
            --slot 'staging' `
            --target-slot production

        } elseif ($serviceName -match "rwdwebfa") {
          Write-Host "Swapping slots on FA $serviceName"
          $rg = az functionapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

          az functionapp deployment slot swap `
            --name "$serviceName" `
            --resource-group $rg `
            --slot 'staging' `
            --target-slot production
          
        } else {
          Write-Error "Unknown Service Type"
          exit 1
        }  

  - task: AzureCLI@2
    displayName: 'remove deployment slot - ${{ upper(parameters.serviceName) }}'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      scriptType: 'pscore'
      scriptLocation: 'inlineScript'
      inlineScript: |
        Set-StrictMode -Version 3.0
        $serviceName = "${{ parameters.serviceName }}".ToUpper()

          if ($serviceName -match "rwdwebwa") {
            Write-Host "Remove staging slot from WA $serviceName"
            $rg = az webapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

            az webapp deployment slot delete `
              --name "$serviceName" `
              --resource-group $rg `
              --slot 'staging' 

          } elseif ($serviceName -match "rwdwebfa") {
            Write-Host "Remove staging slot from FA $serviceName"
            $rg = az functionapp list --query "[?name=='$serviceName']" | jq -r '.[].resourceGroup'

            az functionapp deployment slot delete `
              --name "$serviceName" `
              --resource-group $rg `
              --slot 'staging' 
          } else {
            Write-Error "Unknown Service Type"
            exit 1
          } 

       

  # - task: AzureRmWebAppDeployment@4
  #   displayName: 'Deploy code to --> ${{ upper(parameters.serviceName) }}'
  #   inputs:
  #     ConnectionType: 'AzureRM'
  #     azureSubscription: ${{ parameters.azureSubscription }}
  #     appType: 'webAppContainer'
  #     WebAppName: ${{ upper(parameters.serviceName) }}
  #     DockerNamespace: '${{ parameters.acrName }}.azurecr.io'
  #     DockerRepository: ${{ parameters.registryName }}
  #     DockerImageTag: ${{ parameters.imageTag }}

  # - task: AzureCLI@2
  #   displayName: 'Restart Service - ${{ upper(parameters.serviceName) }}'
  #   inputs:
  #     azureSubscription: ${{ parameters.azureSubscription }}
  #     scriptType: 'pscore'
  #     scriptLocation: 'inlineScript'
  #     inlineScript: |
  #       Set-StrictMode -Version 3.0

  #       $serviceName = "${{ parameters.serviceName }}".ToUpper()

  #       if ($serviceName -match "rwdwebwa") {
  #         Write-Host "Restarting WA $serviceName"
  #         $ids = az webapp list --query "[?name=='$serviceName']" | jq -r '.[].id'
  #         az webapp restart --ids $ids
  #       } elseif ($serviceName -match "rwdwebfa") {
  #         Write-Host "Restarting FA $serviceName"
  #         $ids = az functionapp list --query "[?name=='$serviceName']" | jq -r '.[].id'
  #         az functionapp restart --ids $ids
  #       } else {
  #         Write-Error "Unknown Service Type"
  #         exit 1
  #       }

  - task: AzureKeyVault@2
    condition: eq(variables['subscription'], 'AZD-RWD-DEV4')
    displayName: 'Obtain WebhookUrl'
    inputs:
      azureSubscription: 'AZD-RWD-DEV1'
      KeyVaultName: 'DEVRWDINFKV1401'
      SecretsFilter: 'TeamsNotificationWebhook, TeamsNotificationWebhookEviden'
  
  - template: send-teams-notification.yaml
    parameters:
      condition: eq(variables['subscription'], 'AZD-RWD-DEV4')
      webhookUrl: $(TeamsNotificationWebhook)
      message: |
        Summary: Deployed ${{ parameters.registryName }}:${{ parameters.imageTag }} to ${{ parameters.serviceName }} in ${{ parameters.azureSubscription }} \n
        Repository: $(Build.Repository.Name) \n
        CommitID: $(Build.SourceVersion) \n
        Pipeline: $(Build.DefinitionName) \n
        Service: ${{ parameters.serviceName }} \n
        Target: ${{ parameters.registryName }}:${{ parameters.imageTag }} \n
        Subscription: ${{ parameters.azureSubscription }}
  
  - template: send-teams-notification.yaml
    parameters:
      condition: eq(variables['subscription'], 'AZD-RWD-DEV4')
      webhookUrl: $(TeamsNotificationWebhookEviden)
      message: |
        Summary: Deployed ${{ parameters.registryName }}:${{ parameters.imageTag }} to ${{ parameters.serviceName }} in ${{ parameters.azureSubscription }} \n
        Repository: $(Build.Repository.Name) \n
        CommitID: $(Build.SourceVersion) \n
        Pipeline: $(Build.DefinitionName) \n
        Service: ${{ parameters.serviceName }} \n
        Target: ${{ parameters.registryName }}:${{ parameters.imageTag }} \n
        Subscription: ${{ parameters.azureSubscription }}
